body
{
	font-family: tahoma;
}

#home
{
	background: none;
	height: 100%;

}

#home-bg-video
{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -1;
}

#home-overlay
{
	background-color: rgba(0,0,0,0.4);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
}

#home-content
{
	width: 100%;
	height: 100%;
	display: table;
	margin-top: 260px;
}

#home-content-inner
{
	vertical-align: middle;
}

#home-heading-1,
#home-heading-2
{
	color: #fff;
	font-size: 65px;
	font-weight: 700;
	text-transform: uppercase;
	margin: 0;
}

#home-heading-2 span
{
	color: #f4c613;
	font-weight: 700;
}

p
{
	color: #fff;
	font-size: 15px;
	font-weight: 100;
	margin: 8px 0 30px 0;
}

.btn-general
{
	font-family: 'tahoma';
	border-radius: 40px;
	font-size: 13px;
	text-transform: uppercase;
	margin: 0 6px;
	padding: 12px 46px 12px 46px;
	transition: all 0.4s;
	background-color: #f4c613;
	color: #fff;
}